<!DOCTYPE <!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>About</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>

    <link rel="stylesheet" href={{ url_for( 'static', filename='css/cover.css' ) }}>
</head>

<body>

    <header>
        <!-- Fixed navbar -->
        <nav class="navbar navbar-expand-md navbar-dark fixed-top">
            <a class=" navbar-brand " href="# "><code>MoodTunes</code></a>

            <button class="navbar-toggler " type="button " data-toggle="collapse " data-target="#navbarCollapse " aria-controls="navbarCollapse " aria-expanded="false " aria-label="Toggle navigation ">
                <span class="navbar-toggler-icon "></span>
              </button>
            <div class="collapse navbar-collapse nav nav-masthead justify-content-center " id="navbarCollapse ">
                <ul class="navbar-nav mr-auto ">
                    <li>
                        <a class="nav-link" href="index ">Home</a>
                    </li>
                    <li class="nav-item ">
                        <a class="nav-link active " href="about ">How it Works</a>
                    </li>
                    <!-- <li>
                        <a class="nav-link " href="# ">Features</a>
                    </li> -->
                    <li class="nav-item">
                        <a class="nav-link " href="contact ">Contact</a>
                    </li>
                </ul>
            </div>
        </nav>
    </header>

    <!-- Begin page content -->
    <main role="main " class="container ">

        <div class="top-buffer">
            <h1 class="mt-5">How it works</h1>
            <p class="lead"> MoodTunes uses Microsoft Cognitive Services, Spotify, and your own webcam. <code>Nearly every culture in the world uses music as a means of relaxation.</code> Music is also used in many sorts of worship and celebration. MoodWaves integrates the psychology of music with
                facial recognition to put our users in a better mood.</div>
        <div>
            <h1 class="mt-5">Applications</h1>
            <p class="lead"> Applications for this tech are <code>far and wide</code>, from student use, to work, to the home, to even hospitals and counselling and beyond. Grinding on studies, hacking, or writing long papers? All these involve sitting and looking at your computer for long hours
                , which is not the most ideal and can lead to stress. Most people also enjoy listening to music when they study, but could the music they are listening to be changed to enhance their mood in a more scientific way? <code>We believe so.</code></p>
        </div>
        <div>
            <h1>Goals</h1>
            <p class="lead">By first using the API from Microsoft to analyze our user's face we gather vital information on who our user is and how they are feeling. Once we get this information we introduce query the Spotify API for a track perfect for our user's current mood. 
                <code>MoodWaves brings together AI, music, and science to determine what music will put you in a better mood.</code>
            </p>
        </div>
    </main>

    <footer class="mastfoot mt-auto">
        <div class="inner ">
            <p>MoodTunes Team @2018</p>
            <!-- <p>Cover template for <a href="https://getbootstrap.com/ ">Bootstrap</a>, by <a href="https://twitter.com/mdo ">@mdo</a>.</p> -->
        </div>
    </footer>
    <!-- </div> -->

</body>

</html>